*{
    padding: 0;
    margin: 0;
    color: #313131;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

p, a{
    text-decoration: none;
}

body{
    background-color: rgba(130, 107, 94, 0.5);
    width: 1920px;
    display: flex;
    flex-direction: column;
}

section{
    width: 1680px;
    margin-left: auto;
    margin-right: auto;
}



.main_header{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 100px;
} 


.main_header_button{
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 24px;
}

.questions{
    background-color: white;
    border-radius: 20px;
    margin-bottom: 100px;
}
.questions_header_button{
    text-transform: uppercase;
    font-size: 48px;
    color: #313131;
}

.questions_content{
    display: flex;
    margin-bottom: 10px;
}

.questions_avatar{
    margin-top: 37px;
    margin-left: 35px;
    height: 75px;
    width: 75px;
}

.questions_content div{
    margin-top: 37px;
    margin-left: 15px;
}

.questions_text{
    display: table-cell;
    vertical-align: center;
    height: 150px;
}

.questions_text_large, .questions_text_small, .question_text_q{
    color: #313131;
}
.questions_text_large{
    font-size: 48px;
}
.questions_text_small{
    font-size: 24px;
}

.question_line{
    height: 100px;
    margin-top: 25px;
    margin-left: 20px;
}

.question_text_q{
    width: 1190px;
    font-size: 64px;
    margin-top: 37px;
    margin-left: 20px;
}

.questions_main_text, .buttons_line{
    margin-left: 125px;
}

.questions_main_text p, .question_button {
    font-size: 32px;
    margin-bottom: 10px;
}

.question_button{
    background-color: rgba(130, 107, 94, 0.5);
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    margin-right: 40px;
    margin-top: 50px;
}

.question_button:hover {
    background-color: rgba(130, 107, 94, 0.7);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;

}

.question_button img{
    margin-left: 5px;
    height: 38px;
    width: 38px;
}

.buttons_line{
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.count{
    margin-left: 35px;
    margin-top: 30px;
    font-size: 48px;
}