*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

p, a{
    text-decoration: none;
}

body{
    background-image: url(../../img/main_w/BG.jpg);
    background-repeat: no-repeat;
    background-color: white;
    width: 1920px;
    display: flex;
    flex-direction: column;
}

section{
    width: 1680px;
    margin-left: auto;
    margin-right: auto;
}

input {
    outline: 0 !important;
}

input::placeholder {
    color: #313131;
  }

input::-webkit-input-placeholder {
    position: relative;
    left: 0px;
    display: block;
    transition: all .6s ease-in-out;
  }
  input:hover::-webkit-input-placeholder { 
    left: 140px;
    color: transparent; 
  }


.main_header, .main_body, .main_body_category{
    display: flex;
    justify-content: center;
} 

.main_header{
    padding-top: 30px;
}

.main_header_button{
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 24px;
}

.main_body div{
    margin-top: 300px;
    width: 1680px;
}

.main_body div, .main_body_category div, .main_body_category_text_small div{
    background-color: rgba(255, 255, 255, 0.6);
    height: 100px;
    border: 2px solid white;
    
}

.main_body_category div p{
    height: auto;
}

.main_body div{
    border-radius: 20px 20px 0px 0px;
}

.left_b_r{
    border-radius: 0px 0px 0px 20px;
}

.right_b_r{
    border-radius: 0px 0px 20px 0px;
}

.main_body_category{
    justify-content: space-between;
}



.main_body_input, .main_body_category_text , .main_body_category_text_small p, .main_body_category_text_medium p{
    margin-left: 40px;
    height: 48px;
    font-size: 48px;
    color: #313131;
}

.main_body div img{
    padding-top: 24px;
    padding-left: 40px;
}
 main_body_input{
    margin-left: 40px;
}
.main_body_input{
    background: transparent;
    width: 90%;
    border: 0px;
}

.main_body_category div{
    margin-top: 10px;
    height: 160px;
}

.main_body_category_text, .main_body_category_text_small p, .main_body_category_text_medium p{
    margin-top: 52px;
}

.main_body_category_text{
    width: 790px;
}
.main_body_category_text_medium{
    width: 405px;
}

.main_body_category_text_small{
    width: 265px;
}

.questions_header{
    margin-top: 300px;
    margin-bottom: 100px;
    color: #313131;
    display: flex;
    justify-content: center;
}

.questions_header_button{
    text-transform: uppercase;
    font-size: 48px;
    color: #313131;
}



.questions_content{
    background-color: rgba(130, 107, 94, 0.5);
    height: 150px;
    border-radius: 20px;
    display: flex;
    margin-bottom: 60px;
    overflow-y: hidden;
}

.questions_avatar{
    margin-top: 37px;
    margin-left: 35px;
    height: 75px;
    width: 75px;
}

.questions_content div{
    margin-top: 37px;
    margin-left: 15px;
}

.questions_text{
    width: 310px;
    height: 130px;
}
.questions_text p img{
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.questions_text_large, .questions_text_small, .question_text_q{
    color: #313131;
}
.questions_text_large{
    font-size: 48px;
}
.questions_text_small{
    font-size: 24px;
}

.question_line{
    height: 100px;
    margin-top: 25px;
    margin-left: 20px;
}

.question_text_q{
    width: 1190px;
    font-size: 64px;
    margin-top: 37px;
    margin-left: 20px;
}
